name: .NET Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'

    - name: Restore dependencies
      run: dotnet restore StockFlow.slnx

    - name: Build
      run: dotnet build StockFlow.slnx --no-restore --configuration Release

    - name: Test
      run: dotnet test StockFlow.slnx --no-build --configuration Release --verbosity normal
